
<footer class="footer">
    <div class="container">
        <div class="footer-nav sp--row">
            <div class="footer-nav-item sp--row-3">
                <h2>Администрация</h2>
                <ul>
                    <li><a href="#">Структура</a></li>
                    <li><a href="#">Глава администрации</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Противодействие коррупции</a></li>
                    <li><a href="#">Противодействие коррупции</a></li>
                    <li><a href="#">Противодействие терроризму и экстремизму</a></li>
                </ul>
            </div>
            <div class="footer-nav-item sp--row-3">
                <h2>Магарамкентский район</h2>
                <ul>
                    <li><a href="http://adminmr.ru/" target="_blank">Официальный сайт</a></li>
                    <li><a href="http://adminmr.ru/Органы_власти/Глава_района" target="_blank">Глава района</a></li>
                    <li><a href="http://adminmr.ru/Район/Символика" target="_blank">Символика</a></li>
                    <li><a href="http://adminmr.ru/Район/Реестр_муниципального_имущества" target="_blank">Реестр муниципального имущества</a></li>
                    <li><a href="http://adminmr.ru/Район/Административное_деление" target="_blank">Административное деление</a></li>
                </ul>
            </div>
            <div class="footer-nav-item sp--row-3">
                <h2>Другое</h2>
                <ul>
                    <li><a href="#" target="_blank">
                        <svg role="img" class="icon">
                            <use xlink:href="{{ 'assets/images/icons.svg#paper' |theme }}"></use>
                        </svg>
                        Газета "Самурдин сес"
                    </a></li>
                    <li><a href="#" target="_blank">
                        <svg role="img" class="icon">
                            <use xlink:href="{{ 'assets/images/icons.svg#inst' |theme }}"></use>
                        </svg>
                        Наш инстаграм
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-about">
        <div class="container">
            <div class="footer-about-content">
                <span class="footer-about__title">Администрация сельского поселения "село Азадоглы"</span>
                <span class="footer-about__confines">12+</span>
            </div>
        </div>
    </div>
</footer>
