[viewBag]

[staticMenu]
code = "main-menu"
==

<nav class="header-desktop-nav nav-module">
    <ul id="navModuleList" class="nav-module-list">

       {% for item in staticMenu.menuItems %}
        <li class="nav-module__item {{  item.isChildActive or item.isActive   ? 'nav-module__item_active' : '' }}">
            <a href="{{ item.url }}" class="nav-module__link">{{ item.title}}</a>

            {% if item.items %}
                <div class="nav-module-dropdown {{ item.viewBag.cssClass}}">
                    <ul class="nav-module-dropdown-links nav-module_only-desktop">
                        {% for child in item.items %}
                            <li class="nav-module-dropdown__link {{  child.isActive  ? 'nav-module-dropdown__link_active' : '' }}">
                                <a href="{{ child.url }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </li>
        {% endfor %}

        <li class="nav-module__item hidden-wide {{  this.page.id == 'articles'  ? 'nav-module__item_active' : '' }}">
            <a href="/articles" class="nav-module__link">Новости</a>

        </li>

        <li class="nav-module__item hidden-extra {{  this.page.id == 'contacts'  ? 'nav-module__item_active' : '' }}">
            <a href="{{ 'contacts'|page }}" class="nav-module__link">Контакты</a>
        </li>


        <li class="nav-module__item_adaptive">
            <span class="nav-module__link">Еще</span>
            <div class="nav-module__item_adaptive-list">
                <a href="#" class="nav-module__item_adaptive__item show-wide">Бюджет для меня</a>
                <a href="#" class="nav-module__item_adaptive__item show-extra">Еще меню</a>
            </div>
        </li>

    </ul>
</nav>
