<nav class="header-desktop-nav nav-module">
    <ul id="navModuleList" class="nav-module-list">


        <li class="nav-module__item undefined">
            <a href="#" class="nav-module__link">Главная</a>

        </li>

        <li class="nav-module__item undefined">
            <a href="#" class="nav-module__link">Администрация</a>



            <div class="nav-module-dropdown">
                <ul class="nav-module-dropdown-links nav-module_only-desktop">


                    <li class="nav-module-dropdown__link"><a href="#">Глава администрации</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Полномочия, задачи и функции</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Структура</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Муниципальная служба</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Муниципальный контроль</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Подведомственные организации</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Муниципальное задание</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Перечень банков данных, реестров, регистров</a></li>


                </ul>
            </div>

        </li>

        <li class="nav-module__item undefined">
            <a href="#" class="nav-module__link">Собрание депутатов</a>



            <div class="nav-module-dropdown">
                <ul class="nav-module-dropdown-links nav-module_only-desktop">


                    <li class="nav-module-dropdown__link"><a href="#">Депутаты</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Решения Собрания</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">График приёма</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Проекты решений Собрания</a></li>


                </ul>
            </div>

        </li>

        <li class="nav-module__item undefined">
            <a href="#" class="nav-module__link">Муниципальные правовые акты</a>



            <div class="nav-module-dropdown nav-module-dropdown_center">
                <ul class="nav-module-dropdown-links nav-module_only-desktop">


                    <li class="nav-module-dropdown__link"><a href="#">Устав поселения</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Решения Собрания</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Административные регламенты</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Распоряжения</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Постановления</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Программы</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Публичные слушания</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Проекты документов</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Порядок обжалования НПА</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Соглашения</a></li>


                </ul>
            </div>

        </li>

        <li class="nav-module__item undefined">
            <a href="#" class="nav-module__link">Бюджет для граждан</a>



            <div class="nav-module-dropdown nav-module-dropdown_left">
                <ul class="nav-module-dropdown-links nav-module_only-desktop">


                    <li class="nav-module-dropdown__link"><a href="#">Бюджет для граждан</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Бюджет поселения</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Отчеты об исполнении бюджета</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Кадровый резерв</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Протоколы</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Заключения</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Целевые программы</a></li>

                    <li class="nav-module-dropdown__link"><a href="#">Управленческий резерв</a></li>


                </ul>
            </div>

        </li>

        <li class="nav-module__item hidden-wide">
            <a href="{{ 'articles'|page }}" class="nav-module__link">Новости</a>

        </li>

        <li class="nav-module__item hidden-extra">
            <a href="{{ 'contacts'|page }}" class="nav-module__link">Контакты</a>

        </li>


        <li class="nav-module__item_adaptive">
            <span class="nav-module__link">Еще</span>
            <div class="nav-module__item_adaptive-list">
                <a href="#" class="nav-module__item_adaptive__item show-wide">Бюджет для меня</a>
                <a href="#" class="nav-module__item_adaptive__item show-extra">Еще меню</a>
            </div>
        </li>

    </ul>
</nav>

