<section class="vvi" style="display: none">
    <div class="container">
        <div class="vvi-wrap">
            <div class="vvi-action">
                <span>Изменить цвет сайта</span>
                <div class="vvi-btn-group">
                    <button class="vvi__btn dark" data-change="theme" data-value="theme--dark">A</button>
                    <button class="vvi__btn yellowed" data-change="theme" data-value="theme--yellowed">A</button>
                    <button class="vvi__btn light" data-change="theme" data-value="theme--light">A</button>
                </div>
            </div>
            <div class="vvi-action">
                <span>Изменить шрифт</span>
                <div class="vvi-btn-group">
                    <button class="vvi__btn" data-change="font" data-value="2">x2</button>
                    <button class="vvi__btn" data-change="font" data-value="3">x3</button>
                    <button class="vvi__btn" data-change="font" data-value="4">x4</button>
                </div>
            </div>

            <div class="vvi-action">
                <span>Вернуться к:</span>
                <button class="vvi__btn" data-change="close">Обычной версии</button>
            </div>
        </div>
    </div>
</section>
